<h1>Listing indicativos</h1>

<table>
  <tr>
    <th>Descricao</th>
    <th>Lote</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @indicativos.each do |indicativo| %>
  <tr>
    <td><%= indicativo.descricao %></td>
    <td><%= indicativo.lote %></td>
    <td><%= link_to 'Mostrar', indicativo %></td>
    <td><%= link_to 'Editar', edit_indicativo_path(indicativo) %></td>
    <td><%= link_to 'Apagar', indicativo, confirm: 'Voce tem certeza?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo indicativo', new_indicativo_path %>
