<h1>Listando itens</h1>

<table>
  <tr>
    <th>Indicativo</th>
    <th>Lote</th>
    <th>N&uacute;mero do item</th>
    <th colspan="3">A&ccedil;&otilde;es</th>
  </tr>

<% @items.each do |item|  %>
  <tr>
    <td><%= item.indicativo.descricao %></td>
    <td><%= item.indicativo.lote %></td>
    <td><%= item.numero %></td>
    <td><%= link_to 'Mostrar', item %></td>
    <td><%= link_to 'Editar', edit_item_path(item) %></td>
    <td><%= link_to 'Apagar', [item.indicativo, item], confirm: 'Voce tem certeza?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Lista de Indicativo', indicativos_path %>
